@import "../../../1-Settings/settings.scss";

.header {
  width: 100%;
  height: 80px;
  background: $colorBlanco;

  & .contenedor {
    max-width: 75rem;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;

    .circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: relative;
    }

    .circle.uno {
      background: $colorAzul2;
      border: 2px solid $colorAzul2;
    }

    .circle.dos {
      background: $colorBlanco;
      border: 2px solid $colorAzul2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $fontGilroyBold;
      position: absolute;
      left: 15px;
    }
  }

  &-menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-item {
    width: 100%;
    height: 100%;
    display: inherit;
    align-items: inherit;
  }
  &-list {
    width: 130px;
    height: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: space-between;
  }

  &-link {
    width: 100%;
    height: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    color: $colorAzul1;
    font-size: 1.2em;
    font-family: $fontGilroyBold;
    font-weight: bold;
    transition: 0.25s ease;
  }
  &-link.active {
    color: $colorAzul1Hover;
  }
}
