@import "../../../1-Settings/settings.scss";

.footer-blog {
  width: auto;
  height: auto;
  background: $colorAzul2;
  margin-right: 5.8rem;
  border-top-right-radius: 200px;

  &-description {
    padding: 5rem 0;
    border-bottom: 1px solid $colorBlanco;

    .contenedor {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-footer {
      width: 40%;
    }

    &-title {
      color: $colorBlanco;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      font-weight: lighter;
    }
    &-paragraph {
      color: $colorBlanco;
      font-size: 1rem;
    }
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 40px;
    padding-top: 5rem;
    position: relative;

    &-contact {
      width: 100%;
      height: auto;
    }

    &-header {
      display: flex;
      margin-bottom: 2rem;

      .logo {
        display: inline-flex;
        margin-right: 1.5em;

        .circle.uno {
          background: $colorCelesteClaro;
        }
      }
    }

    &-title-compay,
    &-about-us,
    &-follow-us {
      color: $colorBlanco;
    }

    &-title-compay {
      font-size: 1.8rem;
      font-family: $fontGilroyBold;
    }

    &-about-us,
    &-follow-us {
      font-size: 1.3rem;
    }

    &-contact-info {
      height: auto;

      a {
        display: block;
        margin-bottom: 1rem;
        color: $colorBlanco;
      }
    }
  }
}
// Responsive desing
@media screen and (max-width: $tabletV) {
  .footer-blog {
    margin-right: 1.5rem;

    .contenedor {
      max-width: 40rem;
    }

    &-description {
      .contenedor {
        max-width: 40rem;
      }
    }

    &-items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 40px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .footer-blog {
    margin-right: 1rem;

    .contenedor {
      max-width: 20rem;
    }

    .container-btn {
      margin-top: 2rem;
    }

    &-description {
      .contenedor {
        max-width: 28rem;
        flex-direction: column;
        justify-content: space-between;
      }

      &-footer {
        width: 90%;
      }
    }

    &-items {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}
